<ion-header>

  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <div margin-top *ngIf="!(items | async)">
    <ion-spinner name="crescent" color="primary"></ion-spinner>
  </div>

  <div text-center *ngIf="(items | async) == 0">
    <ion-icon name="ios-filing"></ion-icon>
    <p>Lista vazia.</p>
  </div>

  <ng-container *ngIf="afAuth.user | async; else showProblem">
    <ion-card *ngFor="let item of items | async">
      <ion-card-content navPush="ItemPage" [navParams]="{ item: item }">
        <img [src]="item.picture || 'assets/imgs/car-repair.png'">
        <p margin-top>{{item.description}}</p>
        <h3 text-right>{{item.price}}</h3>
      </ion-card-content>

      <ion-row>
        <ion-col>
          <button ion-button icon-left clear small>
            <ion-icon name="thumbs-up"></ion-icon>
            <div>{{item.likes}} Likes</div>
          </button>
        </ion-col>
        <ion-col center text-center>
          <ion-note>
            Valido até {{item.expirationDate | date:'dd/MM/yyyy'}}
          </ion-note>
        </ion-col>
      </ion-row>

    </ion-card>

    <ion-fab right bottom>
      <button ion-fab navPush="ItemPage">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-fab>
  </ng-container>
  <ng-template #showProblem>
    <p>Problem</p>
  </ng-template>

</ion-content>